<% if User.current.allowed_to?(:edit_dashboard, @project, :global => true) %>

  <% form_tag ({:action => 'update_settings', :id => @dashboard, :version => @version.id}, :id => 'visualization_form') do %>
    <div class='box tabular settings'>
      <b><%= l(:label_dashboard_config_visualization) -%></b>
      <br/><br/>
      <p>
        <%= label_tag :issue_width, t('label_dashboard_issue_width') %>: <%= text_field_tag :issue_width, @dashboard.issue_width %><br/>
        <%= label_tag :line_height, t('label_dashboard_line_height') %>: <%= text_field_tag :line_height, @dashboard.line_height %><br/>
        <%= label_tag :col_max_width, t('label_dashboard_col_max_width') %>: <%= text_field_tag :col_max_width, @dashboard.col_max_width %><br/>
      </p>
      
      <br/><br/>
      
      <p>
        <%= label_tag :visualization, t('label_dashboard_visualization_mode') %>:
        <%= radio_button_tag :visualization, :lines, (@dashboard.visualization == 'lines') %> <%= t('label_dashboard_visualization_lines') %>
        <%= radio_button_tag :visualization, :columns, (@dashboard.visualization == 'columns') %> <%= t('label_dashboard_visualization_columns') %>
      </p>
      
    </div>

    <%= hidden_field_tag('change', 'Visualization') -%>
    <%= submit_tag l(:button_save) -%>
  <% end %>
<% else %>
  <%= l(:dashboard_settings_no_permission) -%>
<% end %>
